.btnDashBoard
{
-fx-background-color:#373644;
-fx-background-radius:20px 0px 0px 20px;

}
.btnDashBoard:hover
{
-fx-background-color:#6d52d1;

}
.btnDashBoard:focused
{
-fx-background-color:#8400BC;
}
.btnOrder{
-fx-background-color:#373644;
-fx-background-radius:20px 0px 0px 20px;


}
.btnOrder:hover{
-fx-background-color:#6d52d1;

}
.btnOrder:focused
{
-fx-background-color:#8400BC;
}
.btnEmployee{
-fx-background-color:#373644;
-fx-background-radius:20px 0px 0px 20px;


}
.btnEmployee:hover{
-fx-background-color:#6d52d1;

}
.btnEmployee:focused
{
-fx-background-color:#8400BC;
}
.btnSupplier{
-fx-background-color:#373644;
-fx-background-radius:20px 0px 0px 20px;


}
.btnSupplier:hover{
-fx-background-color:#6d52d1;

}
.btnSupplier:focused
{
-fx-background-color:#8400BC;
}
