.btnInventory{
-fx-background-color:#373644;
-fx-background-radius:20px 0px 0px 20px;

}
.btnInventory:hover{
-fx-background-color:#6d52d1;

}
.btnInventory:focused
{
-fx-background-color:#8400BC;
}

